<div class="row mtd-5 text-light" style="background: #208abe">
    <div class="col-md-3 p-2 font-italic">
        Home
    </div>
    <div class="col-md-2 text-center mt-1">
        <span for="1" class="pl-3 pr-3 pb-1 r-5 bg-tlight-pink font-weight-bold fs-08">Sites: 345</span>
    </div>
    <div class="col-md-3 text-center mt-1">
        <span for="2" class="pl-3 pr-3 pb-1 r-5 bg-tgreen font-weight-bold fs-08">Sensor No Location: 345</span>
    </div>
    <div class="col-md-2 text-center mt-1">
        <span for="3" class="pl-3 pr-3 pb-1 r-5 bg-tpink font-weight-bold fs-08">Active Alarms: 345</span>
    </div>
    <div class="col-md-2 text-center mt-1">
        <span for="4" class="pl-3 pr-3 pb-1 r-5 bg-dark font-weight-bold fs-08">Users: 34</span>
    </div>
</div>
    
