.mtd-5{
    margin-top: -5px;
}

.bg-tpink{
    background: #ec407a;
}
.bg-tgreen{
    background: #009688;
}
.bg-tlight-pink{
    background: #9c27b0;
}

.r-5{
    border-radius: 5px;
}
.fs-08 {
    font-size: 0.8rem;
}
.fs-09{
    font-size: 0.9em;
}